.root {
  width: 200px;
  margin-bottom: 30px;
  text-decoration: none;
  height: auto;
}

.card {
  height: 100%;
}

.rayt {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(0 0 0);
  position: absolute;
  top: 15px; 
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border: 2px solid #00ff29;

  span {
    color: white;
  }
}
